<form method="POST" action="/user/profile/edit">
    <input type="hidden" name="_method" value="PUT">
    <input type='text' name="profile[city]" value="<%= @profile[:city] %>">
     <input type='text' name="profile[state]" value="<%= @profile[:state] %>">
     <input type='text' name="profile[country]" value="<%= @profile[:country] %>">
     <input type='text' name="profile[about]" value="<%= @profile[:about] %>">
     <button type="submit">Submit profile!</button>
</form>

<form method="POST" action="/user/<%= @profile[:user_id] %>">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete account!</button>
</form>
