<div class="col s12 post">
    <img class="responsive-img" src="<%= h @post[:image] %>">
    <p><%= h @post[:text] %></p>
    <div class="chip">Tags: <%= h @post[:tag_list] %></div>
    <p>Posted by:
        <a href="/user/profile/<%= h posted_by(@post[:user_id]) %>">
        <%= h posted_by(@post[:user_id]) %> </a>
    </p>
</div>
<div>
    <% if @post[:user_id] == current_user.id %>
        <a href="/user/post/<%= @post[:id] %>/edit">Edit/Delete Post</a>
    <% end %>
</div>
